
.story{

  width: 75%;
  margin: 0 auto;
  display: table;
  clear: both;
  background-color: rgba($color-white , .6);
  padding: 60px;
  border-radius: 3px;
  transform: skewX(-10deg);


 & > * {
    transform: skewX(10deg);
 }

    &-shape{
        width: 150px;
        height: 150px;
        float: left;
        clip-path: circle(50% at 50% 50%);
        shape-outside:circle(50% at 50% 50%) ;
        margin-right: 40px;
        overflow: hidden;
        position: relative;
       
    

    >img{
            height: 100%;
            object-fit: cover;
             transition: all .5s ease-in-out;
             -webkit-transition: all .5s ease-in-out;          
            width: 100%; 
            transform: scale(1.4);
    }  
    }
 

    &-caption{
     
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,150%);
    -webkit-transform: translate(-50%,150%);
    color: white;
    text-transform: uppercase;
    font-size: 1.1rem;
    text-align: center;
     transition: all .5s ease-in-out;
     -webkit-transition: all .5s ease-in-out;
    color: white;  


    }


    &:hover,&:focus{
       .story-caption{
      transform: translate(-50%,-50%);
     -webkit-transform: translate(-50%,-50%);
  
       
    }

    .story-img{
      transform: scale(1);
      -webkit-transform:  scale(1);
     filter: blur(3px) brightness(80%);

    }
  }
}