
.section-about{
    padding:  250px 0;
    background-color: $color-grey-light-1;
    margin-top: -200px;
   // transform: translateY(-200px);
    // position: relative;
    //   z-index: -1;
}



.section-features{
    padding: 250px 0;
    background-image: linear-gradient(to right bottom, rgba(85, 197, 122,0.8),rgba(40, 180, 133,0.8)), url(../images/images/nat-6.jpg) ;
    transform: skewY(-7deg);
    margin-top: -6.25rem;
    background-position: top left;
    background-size: cover;


    > *{
        transform: skewY(7deg);
    }
}


.section-tours{
    padding: 250px 0 150px;
    background-color: $color-grey-light-1;
    margin-top: -100px;

}


.section-stories{
    padding: 15rem 0;
    position: relative;
}