

::selection{
    background-color: $color-primary-dark;
    color: $color-grey-dark1;
}

ul{
 list-style: none;
 text-decoration: none;
}

a:link, a:visited{
    text-decoration: none;
}

.text-white{
    color: $color-white;
}

.text-center{
    text-align: center;
}

.mb-80{
    margin-bottom: 5rem;
}


.justify-flex-end{
   display: flex;
   justify-content: flex-end;

}